* {
	margin: 0;
	padding: 0;
}

#top-bar {
	background-color: black;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	position: relative;
	padding: 0 20px;
	font-size: 20px;
}
#menu-toggler {
	cursor: pointer;
}
#menu-toggler .fa-times {
	display: none;
}
.show-menu #menu-toggler .fa-times {
	display: inline;
}
.show-menu #menu-toggler .fa-bars {
	display: none;
}
#nav-menu {
	background-color: #000000;
	height: 100vh;
	width: 80vw;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(-100%);
	transition: transform 1s;
}
.show-menu #nav-menu {
	transform: translateX(0);
}
#nav-menu .nav-list {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	list-style: none;
	height: inherit;
}
#nav-menu .nav-list a {
	color: white;
	text-decoration: none;
	font-size: 18px;
	display: block;
	padding: 15px 20px;
}
#nav-menu .nav-list a:hover {
	background-color: rgba(255, 255, 255, 0.529);
}

/* Styles for Large screen sizes */
@media screen and (min-width: 768px) {
	#menu-toggler {
		display: none;
	}
	#nav-menu {
		transform: initial;
		height: initial;
		width: initial;
		position: initial;
	}
	#nav-menu .nav-list {
		flex-direction: row;
	}
}
